<header class="ba-header-wrap" id="top">
  <div class="row column">
    <!-- ba-container analog -->
    <div class="ba-header-bar flex-container align-justify align-middle">
      <div class="ba-header-bar__left flex-container align-middle">
          <button
          class="menu-icon dark hide-for-medium"
          type="button"
          data-open="offCanvas"
          aria-label="Show menu"
        ></button>
        <a href="#" class="hide-for-medium" title="Поиск">
          <svg width="24" height="24">
            <use xlink:href="#search" />
          </svg>
        </a>
        <ul class="menu show-for-medium">
          <li>
            <a href="tel:09500513000">(095) 00-513-000</a>
          </li>
          <li>
            <a href="#">Информация о нас</a>
          </li>
        </ul>
        <!-- /.menu -->
      </div>
      <!-- /.ba-header-bar__left -->
      <div class="ba-header-bar__center">
        <ul class="menu">
          <li>
            <a href="#">Вход / Регистрация</a>
          </li>
        </ul>
        <a href="/" class="ba-logo">
          <img src="{{ root }}assets/img/logo.svg" alt="Эко-Лавка" />
        </a>
      </div>
      <!-- /.ba-header-bar__center -->
      <div class="ba-header-bar__right flex-container align-middle align-right">        
        <ul class="menu show-for-medium align-center">
          <li>
            <a href="{{ root }}shop.html">Давайте покупать</a>
          </li>
        </ul>

        <div class="ba-header-bar__actions">
            <a href="#" class="show-for-medium" title="Поиск">
              <svg width="24" height="24">
                <use xlink:href="#search" />
              </svg>
            </a>
            <a href="#" title="Закладки">
              <svg width="28" height="23">
                <use xlink:href="#heart" />
              </svg>
            </a>
            <a href="#" title="Корзина">
              <svg width="22" height="23">
                <use xlink:href="#cart" />
              </svg>
            </a>
          </div>
          <!-- /.ba-header-bar__actions -->
      </div>
      <!-- /.ba-header-bar__right -->      
    </div>
  </div>
  <!-- /.row column -->
</header>
