<nav aria-label="Нумерация страниц">
  <ul class="pagination text-center">
    <li class="pagination-previous disabled">Назад</li>
    <li class="current"><span class="show-for-sr">Вы на странице</span> 1</li>
    <li><a href="#" aria-label="Страница 2">2</a></li>
    <li><a href="#" aria-label="Страница 3">3</a></li>
    <li><a href="#" aria-label="Страница 4">4</a></li>
    <li class="ellipsis"></li>
    <li><a href="#" aria-label="Страница 8">8</a></li>
    <li class="pagination-next"><a href="#" aria-label="Следующая страница">Вперед</a></li>
  </ul>
</nav>
