<h3 class="show-for-medium">Фильтр</h3>
<div class="text-center">
  <button class="ba-filter-toggle hide-for-medium h3" data-toggle="shop-filters">
    Фильтр
    <svg class="ba-filter-toggle__bot-arrow" width="12" height="5" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.40594 4.82011L0.246289 1.04856C-0.0820971 0.808645 -0.0820971 0.419663 0.246289 0.179864C0.574382 -0.0599552 1.10652 -0.0599552 1.43458 0.179864L6.00009 3.5171L10.5654 0.179961C10.8937 -0.0598577 11.4257 -0.0598577 11.7538 0.179961C12.0821 0.41978 12.0821 0.808743 11.7538 1.04866L6.5941 4.8202C6.42997 4.94011 6.2151 5 6.00011 5C5.78502 5 5.56998 4.94 5.40594 4.82011Z" fill="#151615"/>
      </svg>
      <svg  class="ba-filter-toggle__left-arrow" width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 3.0014C14 2.8103 13.8371 2.65574 13.6358 2.65574L1.23773 2.65574L3.41709 0.587354C3.55922 0.452459 3.55922 0.236065 3.41709 0.101171C3.27496 -0.0337239 3.04695 -0.0337239 2.90482 0.101171L0.106599 2.75691C-0.0355327 2.8918 -0.0355327 3.1082 0.106599 3.24309L2.90482 5.89883C2.97589 5.96628 3.06768 6 3.16244 6C3.25719 6 3.34899 5.96628 3.42005 5.89883C3.56218 5.76393 3.56218 5.54754 3.42005 5.41265L1.24069 3.34426L13.6417 3.34426C13.8371 3.34426 14 3.1925 14 3.0014Z" fill="#151615"/>
        </svg>
        
           
      
  </button>
</div>
<!-- /.text-center -->
<div id="shop-filters" class="show-for-medium" data-toggler="show-for-medium">
  <aside class="ba-widget">
    <h6>Цена</h6>
    <div id="price-range"></div>
    <!-- /#price-range -->
    <div class="ba-price-wrap">
      <label>
        <input type="number" name="price-min" value="50" />
        грн
      </label>
      -
      <label>
        <input type="number" name="price-max" value="2000" />
        грн
      </label>
    </div>
    <!-- /.ba-price-wrap -->
  </aside>
  <!-- /.ba-widget -->
  
  <aside class="ba-widget">
    <h6>Страна</h6>
    <ul class="no-bullet">
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Китай" />
          <span class="ba-checkbox__input"></span>
  
          Китай (15)
        </label>
      </li>
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Япония" />
          <span class="ba-checkbox__input"></span>
          Япония (10)
        </label>
      </li>
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Индия" />
          <span class="ba-checkbox__input"></span>
          Индия (20)
        </label>
      </li>
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Шри-Ланка" />
          <span class="ba-checkbox__input"></span>
          Шри-Ланка (30)
        </label>
      </li>
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Китай" />
          <span class="ba-checkbox__input"></span>
          Китай (15)
        </label>
      </li>
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Япония" />
          <span class="ba-checkbox__input"></span>
          Япония (10)
        </label>
      </li>
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Индия" />
          <span class="ba-checkbox__input"></span>
          Индия (20)
        </label>
      </li>
      <li>
        <label class="ba-checkbox">
          <input type="checkbox" name="country[]" value="Шри-Ланка" />
          <span class="ba-checkbox__input"></span>
          Шри-Ланка (30)
        </label>
      </li>
    </ul>
  </aside>
  <!-- /.ba-widget -->
</div>
<!-- /#shop-filters -->
