<section class="ba-subscribe-section">
  <div class="row column">
    <h3 class="text-center">
      подписаться на рассылку
    </h3>
    <!-- /.text-center -->
    <form action="#" method="POST" class="ba-subscribe-form">
        <div class="ba-form-row">
            <label for="getSms">Получать SMS</label>
                <div class="switch">
                        <input
                          class="switch-input"
                          id="getSms"
                          type="checkbox"
                          name="getSms"
                        />
                        <label class="switch-paddle" for="getSms">
                          <span class="show-for-sr">Получать SMS</span>
                        </label>
                      </div>
        </div>
        <!-- /.ba-form-row -->
        <div class="ba-form-row">
            <label for="getCalls">Получать аудиозвонки</label>
                <div class="switch">
                        <input
                          class="switch-input"
                          id="getCalls"
                          type="checkbox"
                          name="getCalls"
                        />
                        <label class="switch-paddle" for="getCalls">
                          <span class="show-for-sr">Получать аудиозвонки</span>
                        </label>
                      </div>
        </div>
        <!-- /.ba-form-row -->
      
      <label class="ba-label-small" for="phone">Ваш телефон</label>
      <input type="tel" name="phone" id="phone" />
      <button class="button">Отправить</button>
    </form>
  </div>
  <!-- /.row column -->
</section>
<!-- /.ba-subscribe-section -->
